{% extends 'base2.html' %}

{% block title %}Pagina no encontrada{% endblock %}

{% block content %}
<!-- ===== 404 Start ===== -->
<section class="i pg fh rm ej np er fj op fr">
<!-- Bg Shapes -->
<img src="{{ url_for ('static', filename="images/shape-06.svg") }}" alt="Shape" class="h j k">
<img src="{{ url_for ('static', filename="images/shape-03.svg") }}" alt="Shape" class="h l m">
<img src="{{ url_for ('static', filename="images/shape-17.svg") }}" alt="Shape" class="h n o">
<img src="{{ url_for ('static', filename="images/shape-18.svg") }}" alt="Shape" class="h p q">

<div class="animate_top bb xe rj">
  <img src="{{ url_for ('static', filename="images/404.svg") }}" alt="404" class="bb fb" />

  <h2 class="ek tj eo kk wm gb">La pagina no pudo ser encontrada</h2>
  <p class="hb">La pagina que buscabas para ser que fue movida, borrada o no existe.</p>

  <a href="{{ url_for('index')}}" class="ek vc rg gh lk ml il _l gi hi">Back to Home</a>
</div>
</section>
<!-- ===== 404 End ===== -->
{% endblock %}