{% extends "base2.html"%}

{% block title %}
Programas
{% endblock %}

{% block content %}
    <!-- ===== Blog Grid Start ===== -->
    <section class="ji gp uq">
    <div class="bb ye ki xn vq jb jo">
      <div class="wc qf pn xo zf iq">
          {% for programa in programas %}
            <!-- Blog Item -->
            <div class="animate_top sg vk rm xm">
              <!--<div class="c rc i z-1 pg">


                <div
                  class="im h r s df vd yc wg tc wf xf al hh/20 nl il z-10"
                >
                  <a href="./blog-single.html" class="vc ek rg lk gh sl ml il gi hi"
                    >Read More</a
                  >
                </div>
              </div>-->
              <div class="yh">
                <div class="tc uf wf ag jq">
                  <div class="tc wf ag">
                    <img  src="{{ url_for('static', filename='images/icon-man.svg') }}" alt="User" />
                    <p>{{ programa.descripcion }} </p>
                  </div>
                  <div class="tc wf ag">
                    <img src="{{ url_for('static', filename='images/icon-calender.svg') }}" alt="Calender" />
                    <p>{{ programa.categoria.nombre}}</p>
                  </div>
                    {% if programa.nacional == 1 %}
                    <div class="tc wf ag">
                        <img src="{{ url_for('static', filename='images/icon-01.svg') }}"  />
                        <p>Nacional</p>
                    </div>
                    {% endif %}
                </div>
                <h4 class="ek tj ml il kk wm xl eq lb">
                  <a href="{{ url_for("programa", tipo=programa.id) }}">{{ programa.nombre }}</a>
                </h4>
              </div>
            </div>
          {% endfor %}
      </div>


      <!-- Pagination -->
    </div>
    </section>
    <!-- ===== Blog Grid End ===== -->

{% endblock %}